.DS_Store

dataset

*.npy

*.pt

dataset_bundle.zip

images

NUS-WIDE-images

#08_CLIP_Cooccurance_Only
#09_CLIP_No_Aligned_Tag_Input
10_Tag_Importance_Analysis
#11_without_75_tags
12_vision_only
13_CLIP_Visual_Features
14_CLIP_ASL
15_CLIP_ViT_L14
16_ML_GCN
17_CLIP_Finetune
18_Text_Embed_Init